<center>
<img src="https://images.all-free-download.com/images/graphicthumb/thank_you_inscription_05_hd_pictures_170903.jpg">
<div class="ui container">
        <h2>Payment Successful...</h2>
<h1>Your Item will be delivered to you within 2 business days</h1>
<div class="ui bulleted list">
        <a class="item" href="http://localhost:8080/home/">Go Back Home</a>
</div>
</div>
</center>
